<component name="ArtifactManager">
  <artifact type="war" name="spring-security-jsp:war">
    <output-path>$PROJECT_DIR$/spring-security-jsp/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-security-jsp</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-security-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-security-jsp:war exploded" />
    </root>
  </artifact>
</component>