<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mengxuegu.blog.system.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mengxuegu.blog.entities.Menu">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="type" property="type" />
        <result column="code" property="code" />
        <result column="icon" property="icon" />
        <result column="sort" property="sort" />
        <result column="remark" property="remark" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, name, url, type, code, icon, sort, remark, create_date, update_date
    </sql>
    <select id="findByUserId" resultType="com.mengxuegu.blog.entities.Menu">
     SELECT DISTINCT
                m.id,
                m.parent_id,
                m.`name`,
                m.`code`,
                m.url,
                m.type,
                m.icon,
                m.sort,
                m.remark,
                m.create_date,
                m.update_date
            FROM
                sys_user u
            JOIN sys_user_role ur ON u.id = ur.user_id
            JOIN sys_role r ON ur.role_id = r.id
            JOIN sys_role_menu rm ON r.id = rm.role_id
            JOIN sys_menu m ON rm.menu_id = m.id
            WHERE
                u.id = #{userId}
            ORDER BY
                m.sort
    </select>

</mapper>
